{{ define "main" }}
	<section class="w-80 mw8-l center pv4">
		<h1 class="ttu f3 f1-ns">{{ .Title }}</h1>
		<div class="f5 f4-m f3-l lh-copy measure-wide">
			{{ .Content }}
		</div>

		<div class="cf mv5">
			{{ range (where .Data.Pages "Section" "people").ByDate.Reverse }}
		  {{ partial "people/personExcerpt.html" . }}
			{{ end }}
		</div>
	</section>

	{{ partial "skills.html" . }}

	<section class="w-80 mw8-l center pv4 bg-white pa4 pt0">
		<h1>We collaborate with these fine people</h1>

		<div class="cf mv5">
			{{ range (where .Data.Pages "Section" "collaborators").ByDate.Reverse }}
		  {{ partial "people/collaboratorExcerpt.html" . }}
			{{ end }}
		</div>
	</section>

	<article class="mw8 mb5 center bg-yellow">
		<div class="dt-ns dt--fixed-ns w-100">
			<div class="pa3 pa4-ns dtc-ns v-mid">
				<div>
					<h2 class="fw4 red mt0 mb3">Want to collaborate with us?</h2>
					<p class="black-80 measure lh-copy mv0">
						If you're a lovely person and you've got the chops, we'd love to meet you.
					</p>
				</div>
			</div>
			<div class="pa3 pa4-ns dtc-ns v-mid">
				<a href="/contact" class="no-underline f4 tc ttu tracked db w-100 pv3 bg-animate bg-green hover-bg-white black hover-green">Get in touch</a>
			</div>
		</div>
	</article>
{{ end }}
