{{ define "main" }}

	<section class="w-80 mw8-l center pv4">
		<h1 class="ttu f3 f1-ns">
			{{ .Params.person_name }}:<br/>
			{{ .Params.person_role }}
		</h1>
		{{ range .Params.person_details }}
			{{ if eq "large-image" .template }}
				{{ partial "blocks/largeImage" . }}
			{{ end }}
			{{ if eq "heading" .template }}
	        {{ partial "blocks/heading" . }}
	    {{ end }}
			{{ if eq "subheading" .template }}
	        {{ partial "blocks/subheading" . }}
	    {{ end }}
			{{ if eq "paragraphs" .template }}
	        {{ partial "blocks/paragraphs" . }}
	    {{ end }}
			{{ if eq "two-images" .template }}
	        {{ partial "blocks/twoImages" . }}
	    {{ end }}
			{{ if eq "four-images" .template }}
	        {{ partial "blocks/fourImages" . }}
	    {{ end }}
	{{ end }}
	</section>

	<section class="w-80 mw8-l center pa4 pt1 bg-white">
		{{ $related := .Site.RegularPages.RelatedTo ( keyVals "post_author" .Params.person_name ) | first 6 }}
		{{ with $related }}
		<h1>The things he wants you to know</h3>
		{{/* <ul class="list"> */}}
			{{ range . }}
			<a class="dt w-100 bb b--white pb2 mt3 link black" href="{{ .Permalink }}">
	      <div class="dtc w3 w4-ns v-mid">
	        <img src="{{ .Params.post_image | relURL }}" class="db mw-100"/>
	      </div>
	      <div class="dtc v-mid pl3">
	        <h2 class="f6 f4-ns fw6 lh-title black mv0">{{ .Params.post_title }}</h1>
	        <p class="f6 fw4 mt0 mb0 black-80">{{ .Params.post_excerpt }}</p>
					<p class="f6 fw4 mt1 mb0 black-70">Published on {{ .Date.Format "02.01.2006" }}</p>
	      </div>
	    </a>
			{{ end }}
		{{/* </ul> */}}
		{{ end }}










	</section>

	<section class="w-80 mw8-l center pv5">

		<article class="mw8 center bg-red">
			<div class="dt-ns dt--fixed-ns w-100">
				<div class="pa3 pa4-ns dtc-ns v-mid">
					<div>
						<h2 class="fw4 white mt0 mb3">Have a project in mind?</h2>
						<p class="white-90 measure lh-copy mv0">
							We'd love to talk things over with you.
						</p>
					</div>
				</div>
				<div class="pa3 pa4-ns dtc-ns v-mid">
					<a href="/#contact" class="no-underline f4 tc ttu tracked db w-100 pv3 bg-animate bg-green hover-bg-white black hover-black">Hire us</a>
				</div>
			</div>
		</article>

		</section>

	{{/* {{ partial "relatedProjects.html" . }} */}}
{{ end }}
