{{ define "main" }}

	<section class="w-80 mw8-l center pv4" id="work">

		<h1 class="ttu f3 f1-ns">{{ .Title }}</h1>

		{{ .Content }}

		{{ range first 1 (where .Data.Pages "Section" "work").ByDate.Reverse }}
		  {{ partial "latestProject.html" . }}
		{{ end }}

		<div class="cf pt3-ns">
		{{ range first 2 (after 1 (where .Data.Pages "Section" "work").ByDate.Reverse) }}
		  {{ partial "twoProjects.html" . }}
		{{ end }}

		<div class="cf">
		{{ range after 3 (where .Data.Pages "Section" "work").ByDate.Reverse }}
			{{ partial "projectSummary.html" . }}
		{{ end }}
		</div>

	</section>

	{{ partial "quoteRamblers.html" . }}

{{ end }}
