{{ define "main" }}

	<section class="w-80 mw8-l center pv4">
		<h1 class="ttu f3 f1-ns">
			Work—<br/>
			{{ .Params.project_client }}:<br/>
			{{ .Params.project_title }}
		</h1>
		{{ range .Params.a_project }}
			{{ if eq "large-image" .template }}
				{{ partial "blocks/largeImage" . }}
			{{ end }}
			{{ if eq "heading" .template }}
	        {{ partial "blocks/heading" . }}
	    {{ end }}
			{{ if eq "subheading" .template }}
	        {{ partial "blocks/subheading" . }}
	    {{ end }}
			{{ if eq "paragraphs" .template }}
	        {{ partial "blocks/paragraphs" . }}
	    {{ end }}
			{{ if eq "two-images" .template }}
	        {{ partial "blocks/twoImages" . }}
	    {{ end }}
			{{ if eq "four-images" .template }}
	        {{ partial "blocks/fourImages" . }}
	    {{ end }}
	{{ end }}
	</section>

	{{ with .Params.add_a_testimonial }}
	<article class="bg-yellow">
    <div class="w-80 mw8-l center pv5 tc">
			<img src="{{ .testimonial_graphic }}" alt="{{ .testimonial_citation }}" class="db" />
			<blockquote class="db center f5 f4-m f3-l lh-copy-ns measure-wide">
				<div class="f5 f4-m f3-l lh-copy measure-wide nested-links">
					{{ $markdown := .testimonial_body | markdownify }}
					{{ if not ( strings.Contains $markdown "<p>" ) }}
					<p>{{ $markdown }}</p>
					{{ else }}
					{{ $markdown }}
					{{ end }}
				</div>
				<p class="lh-solid">{{ .testimonial_citation }}</p>
			</blockquote>
    </div>
	</article>
	{{ end }}

	<section class="w-80 mw8-l center pv5">

		<article class="mw8 center bg-red">
			<div class="dt-ns dt--fixed-ns w-100">
				<div class="pa3 pa4-ns dtc-ns v-mid">
					<div>
						<h2 class="fw4 white mt0 mb3">Have a project in mind?</h2>
						<p class="white-90 measure lh-copy mv0">
							We'd love to talk things over with you.
						</p>
					</div>
				</div>
				<div class="pa3 pa4-ns dtc-ns v-mid">
					<a href="/#contact" class="no-underline f4 tc ttu tracked db w-100 pv3 bg-animate bg-green hover-bg-white black hover-black">Hire us</a>
				</div>
			</div>
		</article>

		</section>

	{{ partial "relatedProjects.html" . }}
{{ end }}
