{{ define "main" }}

	<section class="w-80 mw8-l center pv4">
		<h1 class="ttu f3 f1-ns">
			Work—<br/>
			{{ .Params.project_client }}:<br/>
			{{ .Params.project_title }}
		</h1>
		{{ range .Params.a_project }}
			{{ if eq "large-image" .template }}
				{{ partial "blocks/largeImage" . }}
			{{ end }}
			{{ if eq "heading" .template }}
	        {{ partial "blocks/heading" . }}
	    {{ end }}
			{{ if eq "subheading" .template }}
	        {{ partial "blocks/subheading" . }}
	    {{ end }}
			{{ if eq "paragraphs" .template }}
	        {{ partial "blocks/paragraphs" . }}
	    {{ end }}
			{{ if eq "two-images" .template }}
	        {{ partial "blocks/twoImages" . }}
	    {{ end }}
			{{ if eq "four-images" .template }}
	        {{ partial "blocks/fourImages" . }}
	    {{ end }}
	{{ end }}
	</section>

	{{ with .Params.add_a_testimonial }}
	<article class="bg-yellow">
    <div class="w-80 mw8-l center pv5 tc">
			<img src="{{ .testimonial_graphic }}" alt="{{ .testimonial_citation }}" class="db" />
			<blockquote class="db center f5 f4-m f3-l lh-copy-ns measure-wide">
				<div class="f5 f4-m f3-l lh-copy measure-wide nested-links">
					{{ $markdown := .testimonial_body | markdownify }}
					{{ if not ( strings.Contains $markdown "<p>" ) }}
					<p>{{ $markdown }}</p>
					{{ else }}
					{{ $markdown }}
					{{ end }}
				</div>
				<p class="lh-solid">{{ .testimonial_citation }}</p>
			</blockquote>
    </div>
	</article>
	{{ end }}

	{{ partial "relatedProjects.html" . }}
{{ end }}
