{{ define "main" }}

	{{/* {{ .Title }}
	{{ .Date.Format "02.01.2006" }}*/}}

	<section class="w-80 mw8-l center pv4">

		<h1 class="ttu f3 f1-ns">Work—<br/>{{ .Params.project_title }}</h1>

		{{/* {{ .Content }} */}}

		{{ range .Params.a_project }}
			{{ if eq "large-image" .template }}
				{{ partial "blocks/largeImage" . }}
			{{ end }}
			{{ if eq "heading" .template }}
	        {{ partial "blocks/heading" . }}
	    {{ end }}
			{{ if eq "subheading" .template }}
	        {{ partial "blocks/subheading" . }}
	    {{ end }}
			{{ if eq "paragraphs" .template }}
	        {{ partial "blocks/paragraphs" . }}
	    {{ end }}
			{{ if eq "two-images" .template }}
	        {{ partial "blocks/twoImages" . }}
	    {{ end }}
			{{ if eq "four-images" .template }}
	        {{ partial "blocks/fourImages" . }}
	    {{ end }}
	{{ end }}

	</section>
	{{ partial "quoteRamblers.html" . }}
	{{/* <p>~~~</p>
	{{ .Params.testimonial }}
	{{ with (.Site.GetPages "page") .Params.testimonial }}
	  <h2>{{ .Title }}</h2>
	  <p>{{ .Content }}</p>
	{{ end }}
	<p>~~~</p> */}}
	{{ partial "relatedProjects.html" . }}
{{ end }}
