{{ define "main" }}

{{/* {{ .Content }} */}}

	<section class="w-80 mw8-l center pv4">

    <h1 class="ttu f3 f1-ns">You've got lost—</h1>

		<p class="f5 f4-m f3-l lh-copy measure-wide">This reminds us of the time we went walking in Torridon. There are no Mountain Rescue teams on this page to point you in the right direction.</p>

    <div class="pb3 pb0-ns">
      <div class="w-100">
        <img src="images/lost/torridon-2016.png" alt="Stewart and Mark got lost up a mountain">
        <p>We formed Don’t Walk while we were lost up a mountain. What will you make of your lost-ness?</p>
      </div>
    </div>

		<div class="pv4">
			<a href="/" class="f5 no-underline black bg-white bg-animate hover-bg-yellow inline-flex items-center pa3">
				<span class="pr1">The path down is this way</span>
				<svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
					<title>chevronRight icon</title>
					<path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
				</svg>
			</a>
		</div>


  </section>

{{ end }}
