{{ define "main" }}
{{/* This is the homepage layout */}}
	<main>
		<div>
			{{ .Content }}
		</div>
		<section>
			<h1>Work—</h1>
			{{ range first 3 (where .Data.Pages "Section" "work").ByDate.Reverse }}
      {{ partial "projectSummary.html" . }}
	    {{ end }}
			<a href="/work/">More work</a>
		</section>
		<hr>
		<section id="people">
			<h1>People—</h1>
			<p>In the past, we’ve worked together and apart for businesses both large and small. We’ve found our best work comes from collaboration.</p>
			<p>Our core team are Mark McAulay and Stewart Ainslie. We work with specialists across every discipline. We believe every project deserves the most capable team and we pride ourselves on working with the best people for the job—on every job.</p>
			<div>
				<img src="" alt="Photo of Stew">
				<p>Stewart Ainslie</p>
				<ul>
					<li><a href="#">email</a></li>
					<li><a href="#">linkedin</a></li>
				</ul>
			</div>
			<div>
				<img src="" alt="Photo of Mark">
				<p>Mark McAulay</p>
				<ul>
					<li><a href="#">email</a></li>
					<li><a href="#">linkedin</a></li>
				</ul>
			</div>
			<a href="#">How we work</a>
		</section>
		<hr>
		<section id="clients">
			<h1>Clients—</h1>
			<div>
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
				<img src="" alt="LOGO">
			</div>
		</section>
		<hr>
		<section id="skills">
			<h1>Skills—</h1>
			<ul>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
				<li>Branding</li>
			</ul>
		</section>
		<article>
			<img src="" alt="handwritten">
			<blockquote>
				<p>“We were impressed with the support we received from Don’t Walk when we were producing our 2017/18 Annual Report for members.</p>
				<p>Stewart and Mark’s expert guidance and creative flair helped turn our ideas into reality. They were patient, efficient and approachable throughout the design and feedback process - and the end result is an attractive document that works well for our target audience.”</p>
				<p><strong>Danny Carden<br>Comms and engagement officer, Ramblers Scotland</strong></p>
			</blockquote>
		</article>
		<section id="contact">
			<h1>Contact—</h1>
			<p><a href="#">info@dont-walk.com</a></p>
			<p>+44 (0) 7966 183 456</p>
			<ul>
				<li>linkedin</li>
				<li>instagram</li>
				<li>twitter</li>
				<li>facebook</li>
			</ul>
		</section>
		<hr>
	</main>
{{ end }}
