<section class="w-80 mw8-l center pv4 bt bw2 b--yellow" id="clients">
  <h1 class="ttu f3 f1-ns">Clients—</h1>

  <div class="">
    <div class="cf">

      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/AMRT.png" alt="Aberdeen Mountain Rescue">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Cepac.png" alt="Cepac">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Ramblers.png" alt="Ramblers Scotland">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/UofG.png" alt="University of Glasgow">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/HES.png" alt="Historic Environment Scotland">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Codify.png" alt="Codify">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/SMR.png" alt="Scottish Mountain Rescue">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Herald.png" alt="The Herald">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/EngineShed.png" alt="Engine Shed">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Hunterian.png" alt="The Hunterian">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Waterloo.png" alt="Waterloo Replayed">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/TeamNoble.png" alt="Team Noble">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Wendy.png" alt="Wendy McKenzie">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/SmallStories.png" alt="Small Stories">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Dubh.png" alt="Dubh Mor">
        </div>
      </div>
      <div class="fl w-50 w-25-ns pa2">
        <div class="tc">
          <img src="images/logos/Dunblane.png" alt="Dunblane Museum">
        </div>
      </div>
    </div>
  </div>

</section>
