  <article class="bg-yellow">

    <div class="w-80 mw8-l center pv5 tc">

			<img src="images/quote-titles/expert-guidance.png" alt="Expert guidance and creative flair" class="db" />
			<blockquote class="db center f5 f4-m f3-l lh-copy-ns measure-wide">
				<p>“We were impressed with the support we received from Don’t Walk when we were producing our 2017/18 Annual Report for members.</p>
				<p>Stewart and Mark’s expert guidance and creative flair helped turn our ideas into reality. They were patient, efficient and approachable throughout the design and feedback process - and the end result is an attractive document that works well for our target audience.”</p>
				<p class="lh-solid">Danny Carden <br>Comms and engagement officer, Ramblers Scotland</p>
			</blockquote>

    </div>
	</article>
