<section class="w-80 mw8-l center pv4 bt bw2 b--yellow" id="skills">
  <h1 class="ttu f3 f1-ns">Skills—</h1>
  <ul class="list pl0 multi-column f6 f5-m f3-l lh-copy">
    <li>Branding</li>
    <li>Brand Identity</li>
    <li>Campaigns</li>
    <li>Consultancy</li>
    <li>Corporate Comms</li>
    <li>Design</li>
    <li>Exhibitions</li>
    <li>Graphic Art</li>
    <li>Marketing</li>
    <li>Print Management</li>
    <li>Procurement</li>
    <li>Project Management</li>
    <li>Strategy</li>
    <li>Web Design</li>
    <li>Web Development</li>
  </ul>
</section>
